.links>div:nth-child(1){
    width: 1705px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.links>div:nth-child(2){
    width: 1705px;
    height: auto;
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: left;
    gap: 150px;
    background-color: #5d4da8;
    line-height: 30px;
    color: white;
    font-size: 16px;
}
.links>div:nth-child(2)>div{
    width: 200px;
   display: inline-block;
    color:  white;
    font-size: 16px;
}
.links>div:nth-child(2)>div>h2{
    padding-left: 37px;

}
.links>div:nth-child(2)>div>ul>li{
    display: inline-block;
    list-style: none;
    font-weight: bold;
    
}
.links>div:nth-child(2)>div>ul>li:hover{
    cursor: pointer;
}
.links>div:nth-child(3){
    padding: 20px 20px 0px 20px;
}