@import url(//db.onlinewebfonts.com/c/4eea07042f42a24eee7dae1518d2141d?family=Gesso);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
}

#logInForm {
  width: 32%;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  z-index: 2;
  background-color: white;
  padding-bottom: 10px;
  border: 1px solid;
}
#logInForm > div:nth-child(1) {
  color: black;
  padding: 20px 10px;

  /* border: 1px solid blue; */
}

#logInForm > div:nth-child(2) {
  width: 90%;
  margin: 10px auto;
  /* border: 1px solid red; */
}
#logInForm > div:nth-child(2) input {
  width: 100%;
  margin: 10px 0;
  height: 40px;
}

#logInForm > div:nth-child(4) {
  width: 90%;
  margin: auto;
  border: 1px solid gray;
  text-align: center;
  line-height: 21px;
  font-size: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 5px;
  margin-top: 20px;
}
#logInForm > div:nth-child(4) button {
  background-color: #6c54da;
  border: none;
  height: 55px;
  border-radius: 5px;
  color: white;
  width: 90%;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 16px;
}

#logInForm button:hover {
  cursor: pointer;
}

#logInForm > div:nth-child(5) {
  width: 90%;
  margin: auto;
  border: 1px solid gray;
  text-align: center;
  line-height: 21px;
  font-size: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 5px;
  margin-top: 20px;
}
#logInForm > div:nth-child(5) > img {
  cursor: pointer;
}

#logInForm > div:nth-child(4) > button:hover {
  background-color: #4a2189;
}

#lodin_button1 {
  background-color: #6c54da;
  border: none;
  height: 55px;
  border-radius: 5px;
  color: white;
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 16px;
}

#lodin_button1:hover {
  background-color: #4a2189;
}

#frgt_pass {
  margin-left: 60%;
  color: #6c54da;

  font-size: 20px;
}

#otp {
  font-size: 20px;
  font-weight: bold;
  color: #6c54da;
  cursor: pointer;
  margin-top: 10px;
  margin-top: 20px;
}
#otp > span {
  color: gray;
}

#google_facebboklogin {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}
#google_login {
  /* border: 1px solid red; */
  width: 45%;
  height: 44px;
  border: 1px solid gray;
  display: flex;
  margin: 3px;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  justify-content: center;
  gap: 5px;
}
#google_login:hover {
  background-color: #f14346;
  color: white;
}
#google_login > img {
  border-radius: 50%;

  height: 30px;
  width: 30px;
  background-color: rgb(234, 241, 241);
}
#facebbok_login {
  width: 49%;
  border: 1px solid gray;
  display: flex;
  margin: 3px;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  justify-content: center;
  gap: 5px;
}

#facebbok_login > img {
  border-radius: 50%;
  color: gray;
}
#facebbok_login:hover {
  background-color: #3a5a99;
  color: white;
}
#login_div {
  /* border: 1px solid red; */
  width: 40px;
  height: 40px;
  margin-left: 65%;
  display: none;
  margin-top: -35px;
}

#login_div > button {
  /* border: 1px solid red; */
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
}
#login_div > button:hover {
  background-color: #6c54da;
}

#or_div {
  display: flex;
  align-items: center;
  font-size: 25px;
  justify-content: center;
  margin-top: 20px;
  color: gray;
  font-weight: bold;
}

.hr_div {
  width: 40%;
}

#with_your {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#logInForm > div:nth-child(2) i {
  position: absolute;
}

#signupForm {
  width: 52%;
  height: 1350px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  z-index: 2;
  background-color: white;
  padding-bottom: 10px;
  border: 1px solid;
  text-align: center;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

#itsfree {
  font-size: 20px;
  font-weight: 4;
}

#CreateAcc_text {
  font-size: 20px;
  color: #454647;
  margin-bottom: 10px;
}

#file-upload {
  border: 1px solid gray;
  width: 387px;
  height: 42px;
  border-radius: 5px;
  padding-top: 3px;
  padding-left: 2px;
  color: transparent;
}
#upload_image {
  position: absolute;
  margin-left: -40%;
  margin-top: 2px;
}

#email_password_div {
  width: 590px;
  text-align: left;
  font-size: 15px;
  color: gray;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  /* border: 1px solid red; */
  margin: auto;
}

#email_password_div input {
  width: 590px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 5px;
  margin: auto;
}
#phoneNumber_div {
  width: 590px;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
#c_code {
  width: 20%;
  height: 40px;
  border: 0.5px solid gray;
  border-radius: 5px;
}
#phone_num {
  width: 80%;
  height: 40px;
  border: 0.5px solid gray;
  border-radius: 5px;
}

#exp_country_div {
  display: flex;
  flex-direction: column;

  gap: 50px;
  height: auto;
}

#exp_country_form {
  width: 590px;
  height: 40px;
  margin: auto;
  text-align: left;

  color: gray;
  font-weight: 300;
  margin-top: 30px;
}
#exp_country_form > div > label {
  margin-top: 100px;
  /* border: 1px solid red; */
}
#country_input,
#skill_input,
#prefered_input,
#depart_input {
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  /* border-bottom: 1px solid #645979; */
  outline: none;
  border-radius: 5px;
  background-color: #ffffff;
}
#skill_input,
#prefered_input,
#depart_input {
  border: none;
  padding-left: 10px;
  width: 90%;
}

#email_password_div > input:focus {
  outline: none !important;
  border: 3px solid #1ab2ec;
  box-shadow: 0 0 10px #719ece;
}

#country_input:focus {
  outline: none !important;
  border: 3px solid #1ab2ec;
  box-shadow: 0 0 10px #719ece;
}
#phoneNumber_div > input:focus {
  outline: none !important;
  border: 3px solid #1ab2ec;
  box-shadow: 0 0 10px #719ece;
}

#skill_select,
#prefered_select,
#depart_select {
  width: 100%;

  border: 1px solid gray;
  border-bottom: 1px solid #645979;
  outline: none;
  border-radius: 5px;
  /* background-color: gray; */
}

#signupForm ul {
  /* list-style: none; */

  width: 100%;
  margin-bottom: 20px;
}
.list,
.skill-list,
.prefered-list,
.depart-list {
  width: 80%;
  height: auto;
  border: 1px solid gray;
  border-radius: 0 0 5px 5px;

  text-align: left;
  display: block;
  position: absolute;
}
.list-items,
.list-skills,
.list-prefered,
.list-depart {
  padding: 10px 5px;
  display: block;
  background-color: white;
}
.list-items:hover,
.list-skills:hover,
.list-prefered:hover,
.list-depart:hover {
  background-color: #dddddd;
}

#exp_div {
  display: flex;
  gap: 10%;
}
#exp_div select {
  width: 45%;
  height: 40px;
  border: 1px solid gray;
  outline: none;
  border-radius: 5px;

  margin: auto;
}
#cheknox_inp {
  display: flex;
  color: black;
  margin-top: 30px;
  gap: 10px;
  margin-bottom: 30px;
}
#skills,
#prefered,
#depart {
  display: flex;
  gap: 10px;
  padding-left: 10px;
}
#skills > p {
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: #d8edfa;
  color: black;
}

#prefered > p {
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: #d8edfa;
  color: black;
}

#depart > p {
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: #d8edfa;
  color: black;
}

#prefered_label,
#depart_label {
  margin-top: 30px;
}

#tc {
  color: #7ac9f3;
}
#tc_p {
  margin-top: 30px;
}

#regbtn {
  display: block;
  width: 115px;
  height: 55px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #57b228;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#regbtn:hover {
  background-color: #3f881b;
}

#reg_btn_div {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}

#google_facebboklogin_signup {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#google_signup {
  /* border: 1px solid red; */
  width: 25%;
  height: 35px;
  border: 1px solid gray;
  display: flex;
  margin: 3px;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
}
#google_signup:hover {
  background-color: #f14346;
  color: white;
}
#google_signup > img {
  border-radius: 50%;

  height: 30px;
  width: 30px;
  background-color: rgb(234, 241, 241);
}
#facebbok_signup {
  width: 27%;
  border: 1px solid gray;
  display: flex;
  margin: 3px;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
}

#facebbok_signup > img {
  border-radius: 50%;
  color: gray;
}
#facebbok_signup:hover {
  background-color: #3a5a99;
  color: white;
}
#up_resume_text {
  font-size: 14px;
  color: gray;
  margin-top: 10px;
  text-align: left;
  margin-left: 8%;
  margin-bottom: 8px;
}

#upload_div {
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  width: 85%;

  margin: auto;
  margin-bottom: 20px;
}
#upload_div > p {
  font-size: 12px;
}
#upload_div > p > span {
  color: #1ab2ec;
  font-size: 12px;
}
