@import url(//db.onlinewebfonts.com/c/4eea07042f42a24eee7dae1518d2141d?family=Gesso);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
}

#logInForm {
  width: 32%;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  z-index: 2;
  background-color: white;
  padding-bottom: 10px;
  border: 1px solid;
}
#logInForm > div:nth-child(1) {
  color: black;
  padding: 20px 10px;

  /* border: 1px solid blue; */
}

#logInForm > div:nth-child(2) {
  width: 90%;
  margin: 10px auto;
  /* border: 1px solid red; */
}
#logInForm > div:nth-child(2) input {
  width: 100%;
  margin: 10px 0;
  height: 40px;
}

#logInForm > div:nth-child(4) {
  width: 90%;
  margin: auto;
  border: 1px solid gray;
  text-align: center;
  line-height: 21px;
  font-size: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 5px;
  margin-top: 20px;
}
#logInForm > div:nth-child(4) button {
  background-color: #6c54da;
  border: none;
  height: 55px;
  border-radius: 5px;
  color: white;
  width: 90%;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 16px;
}

#logInForm button:hover {
  cursor: pointer;
}

#logInForm > div:nth-child(5) {
  width: 90%;
  margin: auto;
  border: 1px solid gray;
  text-align: center;
  line-height: 21px;
  font-size: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 5px;
  margin-top: 20px;
}
#logInForm > div:nth-child(5) > img {
  cursor: pointer;
}

#logInForm > div:nth-child(4) > button:hover {
  background-color: #4a2189;
}

#lodin_button1 {
  background-color: #6c54da;
  border: none;
  height: 55px;
  border-radius: 5px;
  color: white;
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 16px;
}

#lodin_button1:hover {
  background-color: #4a2189;
}

#frgt_pass {
  margin-left: 60%;
  color: #6c54da;

  font-size: 20px;
}

#otp {
  font-size: 20px;
  font-weight: bold;
  color: #6c54da;
  cursor: pointer;
  margin-top: 10px;
  margin-top: 20px;
}
#otp > span {
  color: gray;
}

#google_facebboklogin {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}
#google_login {
  /* border: 1px solid red; */
  width: 45%;
  height: 44px;
  border: 1px solid gray;
  display: flex;
  margin: 3px;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  justify-content: center;
  gap: 5px;
}
#google_login:hover {
  background-color: #f14346;
  color: white;
}
#google_login > img {
  border-radius: 50%;

  height: 30px;
  width: 30px;
  background-color: rgb(234, 241, 241);
}
#facebbok_login {
  width: 49%;
  border: 1px solid gray;
  display: flex;
  margin: 3px;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  justify-content: center;
  gap: 5px;
}

#facebbok_login > img {
  border-radius: 50%;
  color: gray;
}
#facebbok_login:hover {
  background-color: #3a5a99;
  color: white;
}
#login_div {
  /* border: 1px solid red; */
  width: 40px;
  height: 40px;
  margin-left: 65%;
  display: none;
  margin-top: -35px;
}

#login_div > button {
  /* border: 1px solid red; */
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  cursor: pointer;
}

#or_div {
  display: flex;
  align-items: center;
  font-size: 25px;
  justify-content: center;
  margin-top: 20px;
  color: gray;
  font-weight: bold;
}

.hr_div {
  width: 40%;
}

#with_your {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#logInForm > div:nth-child(2) i {
  position: absolute;
}
