#mdfrbox1{
    grid-area: fr;
    /* width:55%; */
    line-height: 30px;
}
#mdfrbox1>a:first-child{
border:1px solid #4c4084;
background-color: #4c4084;
color:white;
font-size: 10px;
padding:2px;
font-family: sans-serif;
text-decoration: none;
}
#mdfrbox1>br+a{
text-decoration: none;
color:black;
font-size:30px;
font-weight:bold;
}
#mdfrbox1>a+p{
    color:#8c8a8c;
    font-style: italic;
    font-size:12px;
}
#mdfrbox1>img{
    width:100%;
}
#mdfrbox1>p{
    color:grey;
    font-size: 14px;
    line-height: 20px;
}
#mdfrbox2{
    grid-area: se;
/* width:25%; */
display:flex;
flex-direction: column;
/* border:1px solid; */
row-gap: 25px;
}

#mdfrbox2>#mdfrinbox>a{
    font-family: sans-serif;
    font-weight: bold;
    color:black;
    font-size: 17px;
    text-decoration: none;
}
#mdfrbox2>#mdfrinbox>p{
    font-style: italic;
    font-size: small;
    color:grey;
}
#mdfrbox2>#mdfrinbox>img{
    width:100%;
}
#mdfrbox3{
    /* width:25%; */
    grid-area:th;
    display: flex;
    flex-direction: column;
}

#mdfrinbox1>#frinbox1{
    display:flex;
    flex-direction: column;
    gap:7px;
}
#mdfrinbox1>#frinbox1>a{
    color:#4c4084;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
}
#mdfrinbox1>#frinbox1>p{
    font-weight: bold;
    font-family: sans-serif;
    width:85%;
}
#mdfrinbox1>#frinbox1>i{
    font-size: 14px;
}
#mdfrinbox1>#frinbox2>img{
    width:55px;
    height:55px;
    border-radius: 50%;
}
#mdfrinbox2>img{
    width:100%;
    margin-bottom: 30px;
}
#mdfrinbox1{
    display:flex;
justify-content: space-between;
margin-bottom: 30px;
}
.mdfr1{
    width:95%;
    margin:auto;
    margin-top: 50px;
    display:grid;
    grid-template-areas: "fr fr fr se th"
    "fr fr fr se .";
    gap:30px;

}