*{
    text-decoration: none;
   font-family: poppins-regular-webfont;
   font-family: 'Poppins', sans-serif;
}

#Gbody{
    margin: 20px;
    margin-left: 3%;
    /* border: 1px solid ; */
}
#Gpage>a{
    margin-right: 5px;
    font-size: 17px;
}
#Gpage>i{
    margin-right: 5px;
    
}

#Gmain{
    display: flex;
}
#ls{
    width: 85%;
    margin: auto;
    margin-right: 1%;
    padding: 10px;
}
/* ******************************* nav ******************************** */
#Gnav{
    display: flex;
    border-bottom: 3px solid #60489d;
    justify-content: space-between;
    /* gap: 20px; */
}
#Gnav>p{
    /* border: 1px solid; */
    height: 40px;
    width: 90%;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    padding-top: 10px;
    /* padding-bottom: -10px; */
    margin-bottom: 1px;
}
#Gnav>p:hover{
    border-radius: 10px;
    border: none;
    background-color: #efedf6;
}
/* **************************************** Feature profile ************************ */
#Gfeatur{
    display: flex;
    justify-content: space-between;
    margin:20px 0px;
    padding: 20px;
    background-color: #efedf6;
    border-radius: 20px;
    height: 180px;
    line-height: 25px;

}

#Gfeatur>div>p{
    line-height: 35px;
    margin-top: 30px;
}
#GFeaImg{
    margin-right: 30px;
    height: 200px;
    width: 20%;

}
#KEY{
    margin-left: 20px;
}
#keyFeature,.benifts,#Gsevice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
#keyFeature>div{
    width: 20%;
    font-family:poppins;
}
/************      *****8    Gain  ****************************** */
.benifts{
    background-color: #efedf6;
    padding:0px 20px;
    border-radius: 10px;
}
.list{
    display: flex;
    gap: 20px;
    align-items: center;
}
.list>i{
    color: #60489d;
    font-size: 25px;
}

/*  ******************* profile work ********************* */
#fprfile_card{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}
#fprfile_card>div{
    /* border: 1px solid red; */
    width: 33%;
    height: 370px;
    display: grid;
    border-radius: 20px;
    margin: auto;
    background-color: #efedf6;
    padding-bottom: 30px;
}

#fprfile_card>div>p,img{
    width: 65%;
    margin: auto;
    margin-top: 20px;
    
}

.img{
    margin-top: -25px;
    padding-bottom: 30px;
}
/* **************************** Importance ******************************* */
#Importance{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: repeat(auto);
    grid-column-gap: 30px;
}
#Importance>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 133px;
    margin: 17px 7px;
    border-radius: 8px;
    background-color: #efedf6;

}
#Importance>div>img{
    width: 67px;
    height: 67px;
}
#Importance>div>p{
    width: 53%;
    margin-right: 40px;
}

/* *************************************** best services ********************* */
#Gsevice>div{
    width: 350px;
    margin-right: 30px;
    margin: auto;
}
#Gsevice>div>img{
    display: block;
    width:100px ;
    height: 110px;
    margin: auto;
}
#Gsevice>div>p{
    margin: auto;
    margin-top: 20px;
    width: 224px;
    height: 97px;
    text-align: center;
}
/* ************** disclaimer ****************************** */
#Gdisclaimer{
    width: 93%;
    margin-top: 44px;
    margin-bottom: 10px;
    padding: 20px 40px;
    border: 2px solid #f4f4f5;
    border-radius: 20px;
    font-family: poppins-regular-webfont;
    font-style: normal; font-family: poppins-regular-webfont;
    font-style: normal;
}
#Gdisclaimer>p{
    font-weight: 400;
    width: 80%;
    font-size: 16px;
    line-height: 140.62%;
    color: #aaa;
    line-height: 25px;
    font-family: poppins-regular-webfont;
    font-style: normal;
    font-size: 18px;

}


/* **************************************  talk our expert ************************** */
.Gexpert{
    display: flex;
    justify-content: space-between;
    background-color: #efedf6;
    flex-wrap: wrap;
    min-height: 100px;
    width: 100%;
    max-width: 975px;
    margin: 30px auto 0;
    border-radius: 7px;
    padding: 19px 40px;

}
.lsGexpert{
    /* border: 1px solid ; */
    width: 40%;
    font-weight: 600;

    
}

.rightSection{
    /* border: 1px solid; */
    width:53%;
    margin-left: -30%;
}
.rightInputBoxes{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(auto);
}
.rightInputBoxes>input{
    height: 40px;
    width: 90%;
    padding: 0px 10px;
}
.rightInputBoxes>label>span{
    color: red;
}
.isdInput>select{
    width: 13%;
    margin: auto;
    text-align: center;
    padding: 0px 5px 0px 0px;
    height: 40px;
}
.IsdInput{
    height: 40px;
    width: 79%;
    padding-left: 10px;
}
#callm{
    width:50%;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    height: 40px;
    background-color: #60489d;
    color: #fff;
    font-size: 16px;
    font-size: poppins;
}

/* **************************** serviceSection ************************** */

#serviceSection{
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.Gresume{
    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
    align-items: center;
    height: 170px;
    background-color: #efedf6;
    border-radius: 10px;
    padding: 10px;
    line-height: 25px;
}
.GresumeImg{
    width: 200px;
}

#entr,#mid,#senior,#Executive{
    line-height: 35px;
}
#GproImg{
    height: 123px;
    margin-left: 30px;
    width: 120px;
    width: 100%;
    /* border :1px solid    */
}
#Gbtn1,#Gbtn2{
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    border-color: #60489d;
    background-color: #60489d;
    color: #fff;    
    margin-right: 20%;
    margin-top: 20px;
}

/*       *********************************** right row  *********************** */
#rswrap{
    border-radius: 10px ;
    width: 30%;
    height: 530px; 
}

#Gcall{
    display: flex;
    width: 80%;
    margin: auto;
    height: 50px;
    margin:20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    background-color: #60489d;
    border-radius: 5px;
    color: #fff;
    margin-left: 37px;
    font-weight: 800;
}
#Gcall>i{
    /* color: red; */
    transform: rotate(-30deg);
}

#srevicePackege{
    width: 80%;
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 20px;
    border-radius: 10px;
    padding-top: 10px;
}
.ServiceMiddleBox{
    width: 90%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    
}
.ServiceMiddleBox label{
    display: flex;
    height: 60px;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1 px solid lightgray;
    border-radius: 10px;
    margin: 10px 0;
    margin-left: 20px;
    padding-left: 20px;
    cursor: default;
    border: 1px solid gray;
}

.ServiceMiddleBox label .dot{
    height: 20px;
    width: 20px;
    background-color:#60489d;
    border-radius: 50%;
    position: relative;
    border: 1px solid #60489d;
}

.ServiceMiddleBox label .dot ::after{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color:#fff;
    

}
.ServiceMiddleBox label .dot ::after:hover{
    background-color: #60489d;
}

.ServiceMiddleBox label .Gtext{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border: 1px solid; */
    gap: 40px;
    width: 100%;
    color: #333;
    font-weight: 600;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 3px;

}

#Gtext >div>p,h3{
    margin-top: 15px;
}

#one:hover,#two:hover,#three:hover{
    border-color: #60489d;
    background-color: #efedf6;
    /* border: 2px solid #60489d; */
    /* background-color: pink; */
}

#rbtn{
    width: 100%;
    margin: auto;
}
#GRbtn{
    width: 80%;
    height: 40px;
    background-color: #60489d;
    border: 1px solid #60489d;
    border-radius: 7px;
    margin-left: 10%;
    margin-top: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}

.Gh2{
    margin-left: 20px;
}
/* **************************************************************** */

/* ********************* profile work ********************* */


.rightInputBoxes{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(auto);
    gap: 10px;
}

#Gresume{
    border: 1px solid;
    display: flex;
}
#profileHigh>div>img,#Gresume>div>img{
    width: 100%;
    height: 100%;
}
#location,#skill_It,#non-IT,#role,#internationaljob{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}


/*    ****************  logo ************ */
#abovefooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}


.GLdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.GLdiv>img{
    width: 24px;
    height: 24px;
}
#Gsocial{
    /* border: 1px solid; */
    margin-right: 3%;
    width: 12%;
}
#Gsocial>a{
    margin-left: 20px;
    font-size: 20px;
    /* background-color: #60489d; */
}
#jobloc{
    font-size: 14px;
    /* border: 1px solid; */
}
.Gfir{
    /* width: 14%; */
    width: 200px;
    font-size: 12px;
}
.Gfir>span{
    color: red;

    margin-left: 100px;
    margin-right: -30px;
}
#skill_It,#non-IT,#role,#internationaljob{
    font-size: 14px;
    margin-top: -15px;
    
}