* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f5f5f5;
}

#main-searchbox-am {
  width: 100%;
  height: 70px;
  background-color: #e8e9e9;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* border: 2px solid black; */
}

.after-apply-append-div {
  width: 100%;
  height: 60px;
  display: flex;
}
.after-apply-append-div > img {
  height: 50px;
  border-radius: 50px;
  display: block;
  padding-left: 250px;
  padding-top: 10px;
}
.after-apply-append-div > h3 {
  padding: 20px 0px 0px 15px;
  color: rgb(84, 76, 76);
}
#skill-am {
  width: 37%;
  padding: 14px;
  border: none;
  border: 2px solid #ffffff;
  margin-right: 3px;
  font-size: 15px;
  font-weight: 400;
  color: #787878;
}
#skill-am::placeholder {
  padding: 23px;
}
#location-am {
  width: 27%;
  padding: 14px;
  border: none;
  border: 2px solid #ffffff;
  margin-right: 3px;
  font-size: 15px;
  font-weight: 400;
}
#location-am::placeholder {
  padding: 35px;
}
#select-year-am {
  width: 17%;
  padding: 14px;
  border: none;
  border: 2px solid #ffffff;
  margin-right: 3px;
  font-size: 15px;
}
#search-btn-am {
  width: 8%;
  padding: 16px;
  background-color: #6c54da;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

#location-icon {
  position: absolute;
  margin-right: 12%;
  color: rgb(160, 150, 150);
}
#briefcase-icon {
  position: absolute;
  margin-left: 50%;
  color: rgb(160, 150, 150);
}
#magnifying-icon {
  position: absolute;
  margin-right:87%;
  color: rgb(160, 150, 150);
}
#microphone-icon {
  position: absolute;
  margin-right: 20%;
  color: rgb(160, 150, 150);
  /* border: 5px solid red; */
}
